body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Modal for displaying information */

.container {
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
}

.info-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.info-btn:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}
.logo-move{
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 80px;
}

#logo-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quiz Container and navigation */

.start-btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.start-btn:hover {
    background-color: #45a049;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-counter {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.question {
    font-size: 2.0rem;
    margin-bottom: 20px;
}

.nav-btn {
    font-size: 1rem;
    padding: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.nav-btn:hover {
    background-color: #0073b7;
}

.question-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option-btn {
    margin: 5px;
    padding: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
    min-width: 48%;
}

.option-btn:hover {
    background-color: #0073b7;
}

/* Media Query */

@media screen and (max-width: 550px) {
    .options-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .option-btn {
        width: 100%;
        margin: 5px 0;
    }
    .info-btn {
        font-size: .8rem;
        padding: 5px 10px;
    }
    .logo{
        max-width: 80px;
        margin-bottom: 0;
    }
    .question {
        font-size: 1.3rem;
    }
    .question-counter{
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .info-btn {
        font-size: .8rem;
        padding: 5px 10px;
    }


}

@media screen and (min-width: 551px) {
    .options-container {
        flex-wrap: wrap;
    }
    .option-btn {
        width: 48%;
    }
}

/* JS displayAnswer Interactivity*/

.hidden {
    display: none;
}

.correct {
    background-color: #4CAF50;
}

.incorrect {
    background-color: #f44336;
}


/* Footer */

footer {
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
}